<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pandazhang.filepicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.pandazhang.filepicker.provider_me"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>

        <activity
            android:name="me.pandazhang.filepicker.activity.ImagePickActivityPicker"
            android:theme="@style/FilePickerTheme" />
        <activity
            android:name="me.pandazhang.filepicker.activity.ImagePickSetImageActivityPicker"
            android:theme="@style/FilePickerTheme" />
        <activity
            android:name="me.pandazhang.filepicker.activity.ImageBrowserMoreActivity"
            android:theme="@style/FilePickerTheme" />
        <activity
            android:name="me.pandazhang.filepicker.activity.ImageBrowserAdActivity"
            android:theme="@style/FilePickerTheme" />
        <activity
            android:name="me.pandazhang.filepicker.activity.ImageAlbumActivity"
            android:theme="@style/FilePickerTheme" />
        <activity android:name="me.pandazhang.filepicker.activity.CrupActivity"></activity>
        <activity android:name="me.pandazhang.filepicker.activity.ImageBrowserOneActivity"/>
        <activity android:name="me.pandazhang.filepicker.activity.ImagePickActivityPriview"/>
    </application>

</manifest>